// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'


body
  margin: 0
  padding: 0 0 0 0
  font-family: "Helvetica Neue", Helvetica, Arial
  color: #000
  font-size: 12px
  background-color: #d0d0d9

  @media all and (min-width: 659px)
    overflow: hidden

.logos
  img
    width: 100px
    margin-right: 20px

    @media all and (max-width: 659px)
      width: 80px
      margin-right: 10px

.escHint
  padding-left: 20px

.warnings
  position: absolute
  top: 0
  font-size: 14px
  width: 100%
  margin: 0 auto 0 auto
  text-align: center
  opacity: 0.7
  font-weight: 300

  a
    color: #eee
    text-decoration: underline

  p
    margin: 0px

  .shouldWork, .maybeWork, .cantWork, .cantWorkMobile 
    display: none
    padding: 10px
    color: #eee

    &.active
      display: block

  .shouldWork
    background-color: #666

  .maybeWork, .cantWork, .cantWorkMobile
    background-color: #f00

  .warnings>.shouldWork
    color: #eee


.intro
  font-size: 14px
  line-height: 20px
  max-width: 730px
  padding: 20px
  margin: 0px auto 0px auto

  h3
    font-size: 36px
    margin: 80px 0px 20px 0px
    text-transform: uppercase
    letter-spacing: -0.04em

  .copy
    width: 45%
    float: left
    margin-bottom: 20px

  @media all and (max-width: 659px)
    .copy
      width: 100%

  .copy.navigation
    display: none
    margin-left: 20px

  .sectionNav
    font-weight: bold


  .sectionNav.showNavigation
    float: right
    margin-right: 20px

  .video
    position: relative;
    padding-bottom: 25.3%; /* 16:9 */
    height: 0;
    width: 45%
    float: right

  .video iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  @media all and (max-width: 659px)
    .video
      padding-bottom: 56.25%; /* 16:9 */
      margin: 00px 00px 00px 40px
      width: 100%


  a.button
    text-align: center
    display: block
    width: 100%
    padding: 10px
    background-color: #3773fc
    color: #fff
    cursor: pointer
    font-weight: 800
    font-size: 20px
    clear: both
    margin: 10px 0px 30px 0
    border-radius: 2px

    &:hover
      text-decoration:none
      background-color: #ff9581

  a.button.deactivated
    background-color: #d8d8d8

    &:hover
      background-color: #d8d8d8
      
  p
    margin: 0 0 10px 0

  p.last
    margin: 0 0 40px 0


.container
  letter-spacing: -0.03em
  position: fixed
  margin: 0
  top: 50px
  left: 50px
  width: 80%
  z-index: 1000

  a
    display: block

  h2
    font-size: 36px
    margin: 0
    padding: 0

  h2.selected
    color: #fff

  p
    font-size: 18px
    margin-top: 3px
    padding: 0

  p.lifespan
    font-weight: bold
    float: left
    margin-right: 15px

.photographer
  position: fixed
  bottom: 25px
  right: 10px
  color: #fff
  z-index: 16500
  font-size: 14px
  letter-spacing: 0em
  opacity: 0.5
  pointer-events: none


.title
  position: fixed
  bottom: 45px
  right: 10px
  color: #fff
  z-index: 16500
  font-size: 32px
  opacity: 0.9
  text-shadow: 1px 1px 1px rgba(30,30,30,0.6);
  pointer-events: none

 .title.onlyReference
  font-size: 16px

.imageContainer
  position: fixed
  bottom: 10px
  z-index: 2000
  background-color: rgba(0,0,0,0.02)
  padding-left: 10px
  height: 110px
  width: 100%
  display: none

  .navBlock
    position: absolute
    right: 20px
    top: -40px

    p
      display: block
      width: 45px
      height: 30px
      float: left
      line-height: 8px
      text-shadow: 1.5px 1.5px rgba(20,20,20,0.5)
      text-align: center
      font-size: 11px
      font-weight: 500
      color: #fff
      opacity: 0.8
    a
      width: 30px
      height: 30px
      float: left
      border: 1px solid rgba(100,120,154,0.3)
      display: block
      cursor: pointer
      color: #666
      line-height: 24px
      text-align: center
      font-weight: 900
      font-size: 19px
      border-radius: 1px
      text-decoration: none

      &.deactivated
        opacity: 0.1

      &.deactivated:hover
        opacity: 0.1
        background-color: rgba(180,200,222,0.8)


    a:hover
      background-color: rgba(255,255,255,0.9)

  img
    height: 50px
    margin: 5px 5px 5px 5px
    opacity: 0.3
    display: block
    float: left

  img:hover
    opacity: 1.0

.zoomedImageContainer
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.7)
  z-index: 1500
  display: none

  img.zoomedImage
    max-height: 100%
    max-width: 100%
    display: block
    position: inline
    margin-left: auto
    margin-right: auto
