// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'


body
  margin: 0
  padding: 0
  font-family: "Helvetica Neue", Helvetica, Arial
  color: #000
  font-size: 12px
  background-color: #d0d0d9


.escHint
  padding-left: 20px

.intro
  font-size: 14px
  line-height: 20px
  position: fixed
  width: 820px
  background-color: #eee
  padding: 10px 10px 10px 10px
  top: 100px
  left: 40px

  h3
    font-size: 36px
    margin: 10px 0px 20px 0px

  .copy
    width: 400px
    float: left
    min-height: 360px
    margin-bottom: 20px

  .copy.navigation
    display: none

  .sectionNav.showNavigation
    float: right

  .video
    margin-top: 50px
    float: left
    margin-left: 20px

  a.button
    text-align: center
    display: block
    width: 100%
    padding: 10px
    background-color: #aef
    color: #000
    cursor: pointer
    text-transform: uppercase
    font-weight: 800
    clear: both
    margin-top: 20px

    &:hover
      text-decoration:none
      background-color: #bff

  p
    margin: 0 0 10px 0

  p.last
    margin: 0 0 40px 0

.warnings
    font-size: 16px
    position: fixed
    width: 820px
    background-color: #eee
    top: 20px
    left: 40px


  .shouldWork, .maybeWork, .cantWork, .cantWorkMobile 
    display: none
    padding: 10px

    &.active
      display: block

.warnings>.shouldWork
  color: #333
  

.container
  letter-spacing: -0.03em
  position: fixed
  margin: 0
  top: 50px
  left: 50px
  width: 80%
  z-index: 1000

  a
    display: block

  h2
    font-size: 36px
    margin: 0
    padding: 0

  h2.selected
    color: #fff

  p
    font-size: 18px
    margin-top: 3px
    padding: 0

  p.lifespan
    font-weight: bold
    float: left
    margin-right: 15px

.photographer
  position: fixed
  bottom: 25px
  right: 10px
  color: #fff
  z-index: 16500
  font-size: 14px
  letter-spacing: 0em
  opacity: 0.5
  pointer-events: none


.title
  position: fixed
  bottom: 45px
  right: 10px
  color: #fff
  z-index: 16500
  font-size: 32px
  opacity: 0.9
  text-shadow: 0px 0px 4px rgba(30,30,30,0.6);
  pointer-events: none

 .title.onlyReference
  font-size: 16px

.imageContainer
  position: fixed
  bottom: 10px
  z-index: 2000
  background-color: rgba(0,0,0,0.1)
  padding-left: 10px

  img
    height: 50px
    margin: 5px 5px 5px 5px
    opacity: 0.3
    display: block
    float: left

  img:hover
    opacity: 1.0

.zoomedImageContainer
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.7)
  z-index: 1500
  display: none

  img.zoomedImage
    max-height: 100%
    max-width: 100%
    display: block
    position: inline
    margin-left: auto
    margin-right: auto
